body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    background-color: rgb(161, 106, 4);
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    border-color: black;
}

h1 {
    text-align: center;
}

button:hover {
    background-color: hsl(28, 100%, 25%);
    color: white;
    cursor: progress;

}

button:active {
    background-color: red;
}

li:first-child {
    color: blue;
    font-weight: bold;
}

li:nth-child(2) {
    color: purple;
}

input:focus {
    border: 3px solid orange;
    outline: none;
}
