body {
    font-family: Arial, sans-serif;
    background-color: #148991;
    text-align: center;
}

.container {
    padding: 50px;
}

.card-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #3498db;
    color: white;
    padding: 40px;
    width: 200px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    
    .container {
        padding: 20px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%; 
        background-color: #e74c3c; 
    }

    h1 {
        font-size: 20px; 
    }
}